@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Merienda:wght@400;700&display=swap');

/*  COLORS
Light shades:       #EEE8D1     ATHS SPECIAL
Lighter shades:     #F4F0DE     PARCHMENT
Light accent:       #A0A074     GURKHA
Lighter accent:     #CECEB1     THISTLE GREEN
Main accent:        #B8873A     COPPER
Dark accent:        #3C5830     WOODLAND
Dark shades:        #7E6235     POTTERS CLAY
Darker shades:      #493722     IROKO
*/

/*------------------------------------------ GENERAL */
html {
    scroll-behavior: smooth;
}

/* CREDIT: https://spigotdesign.com/smooth-scroll-offset-anchor-links-with-css/
-------- for offseting the anchor targets */
:target:before {
    content: "";
    display: block;
    height: 2.2rem;
    margin: -2.2rem 0 0;
}
:target {
  display: block;
  position: relative;
  top: -2.2rem; 
  visibility: hidden;
}

body {
    font-family: 'EB Garamond', serif;
    padding-top: 3rem;
    background-color: #F4F0DE;
    color: #3C5830;
}

a {
    font-weight: bold;
    color: #B8873A;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: #7E6235;
    text-decoration: none;
    outline: none;
}

h1,h2 {
    font-family: 'Merienda', serif;
    color: #3C5830;
}

section {
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.section-heading {
    text-align: center;
    margin: 2rem 0 0 0;
}

.section-subheading {
    text-align: center;
    margin: 2rem 0;
}

.section-hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(160, 160, 116, 0), rgba(160, 160, 116, 0.75), rgba(160, 160, 116, 0));
    width: 50%;
    margin-bottom: 2rem;
}

.form-control:focus {
    border-color: #3C5830;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(60, 88, 48,.25);
}

/*------------------------------------------ COLORS */
.bg-color-navbar {
    background-color: #EEE8D1;
}

.bg-color-footer {
    background-color: #493722;
}

.bg-color-features {
    background-color: #F4F0DE;
}

.bg-color-homes {
    background-color: #3C5830;
}

.bg-color-site {
    background-color: #F4F0DE;
}

.bg-color-gallery {
    background-color: #7E6235;
}

.bg-color-contact {
    background-color: #F4F0DE;
}


.navbar-brand-color {
    color: #7E6235;
}

.navbar-brand-color:focus, .navbar-brand-color:hover {
    color: #B8873A;
}

.nav-link {
    color: #7E6235;
}

.nav-link:hover, .nav-link:active {
    color: #B8873A;
}

.features-heading-color {
    color: #3C5830;
}

.homes-heading-color {
    color: #F4F0DE;
}

.site-heading-color {
    color: #3C5830;
}

.site-subheading-color {
    color: #7E6235;
}

.gallery-heading-color {
    color: #F4F0DE;
}

.contact-heading-color {
    color: #3C5830;
}

.contact-subheading-color{
    color: #7E6235;
}

/*------------------------------------------ HEADER */
.navbar {
    border-bottom: 4px solid #A0A074;
    box-shadow: 0px 2px 10px #3C5830;
}

.navbar-brand {
    font-family: 'Merienda', serif;
    padding: 0;
    font-size: 1.7rem;
    text-shadow: 1px 1px 2px #A0A074;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbar-brand img {
    -webkit-filter: drop-shadow(2px 2px 2px #493722);
    filter: drop-shadow(2px 2px 2px #493722);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbar-brand:hover img {
    -webkit-filter: drop-shadow(2px 2px 2px #B8873A);
    filter: drop-shadow(2px 2px 2px #B8873A);
}

.nav-link {
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.navbar-toggler {
    font-size: 1.9rem;
    color: #3C5830;
    border: none;
    padding: 0;
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    color: #7E6235;

}

/*------------------------------------------ CALLOUT */
#hero {
    position: relative;
    padding: 0;
}

.cta {
    height: 75vh;
    position: relative;
    overflow: hidden;
    z-index:-101;
    background-color: #7E6235;
    border-radius: 0;
    margin: 0;
}

.cta-container {
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    max-width: 100%;
    text-align: center;
    color: #EEE8D1;
    font-size: 150%;
    text-shadow: 1px 1px 2px #7E6235;
    background-color: rgba(0,0,0,0); 
}

.cta-heading {
    font-size: 3rem;
    color: #F4F0DE;
    text-shadow: 2px 2px 3px #3C5830;
    line-height: 4rem;
}

.cta-container .lead {
    font-size: 150%;
    text-shadow: 2px 2px 3px #7E6235;
}

.cta-container hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(238, 232, 209, 0), rgba(238, 232, 209, 0.75), rgba(238, 232, 209, 0));
    width: 50%;
}

.btn-cta {
    background-color: #3C5830;
    border-color: #2a3d21;
    box-shadow: 2px 2px 3px #3C5830;
    text-transform: uppercase;
    font-weight: bold;
    color: #F4F0DE;
}

.btn-cta:hover, .btn-cta:active, .btn-cta:focus {
    background-color: #507c3c;
    border-color: #3C5830;
    box-shadow: 3px 3px 7px #3C5830;
    color: #fff;
    outline: none;
}

.cta-scroll {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    text-align: center;
    color: #F4F0DE;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    animation: MoveUpDown 1s linear infinite;
}

.cta-scroll a{
    color: #F4F0DE;
}

/* CREDIT: https://stackoverflow.com/questions/35990445/how-to-move-a-div-up-and-down-infinitely-in-css3 */
@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 1rem;
  }
}

.cta-scroll>i {
    font-size: 2rem;
}

/* CREDIT: http://thenewcode.com/777/Create-Fullscreen-HTML5-Page-Background-Video) for video positioning [issue](#encountered-issues
----------- for center positioning */
.cta-video { 
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url('../images/hero-img.jpg') no-repeat;
    background-size: cover;
    object-fit: cover;
    transform: translate(-50%, -50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity;
    opacity: 0.4;
}

/*------------------------------------------ CTA MODAL */
.modal-backdrop.show {
    opacity: 0.8;
}

#cta-form .modal-content {
    background-color: #EEE8D1;
}

#cta-form .modal-header {
    align-items: center;
}

#cta-form .close {
    color: #7E6235;
    opacity: 1;
    font-size: 1.7rem;
}

#cta-form .close:hover {
    color: #B8873A;
    opacity: 1;
}

#cta-form select option:not(:last-child) {
    border-bottom: 1px solid lightgrey;
}

#cta-form select option {
    padding: 0.3rem;
}

#cta-form select option:hover {
    background-color: #F4F0DE;
    cursor: pointer;
}

/*------------------------------------------ FEATURES */
#features-section .section-heading {
    padding-top: 40px;
    margin-top: -40px;
}

.features-left .feature-body {
    text-align: left;
}

.features-right .feature-body {
    text-align: right;
}

.feature-icon {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 2rem;
    color: #B8873A;
}

.features-center {
    position: relative;
    overflow: visible;
    min-height: 300px;
}

.features-image {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    width: 300px;
    height: 300px;
    background-image: url('../images/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-clip: content-box;
    background-color: #A0A074;
    padding: 0.5rem;
    margin: 1rem;
    border: 2px dashed #B8873A;
    border-radius: 50%;
}

/*------------------------------------------ HOMES */
#homes-section .section-hr {
    background-image: linear-gradient(to right, rgba(238, 232, 209, 0), rgba(238, 232, 209, 0.75), rgba(238, 232, 209, 0));
}

.house-card {
    background-color: #EEE8D1;
}

.house-card .list-group, .house-card .list-group-item {
    background-color: #EEE8D1;
}

.btn-house {
    background-color: #B8873A;
    border-color: #7E6235;
    box-shadow: 2px 2px 3px #7E6235;
    text-transform: uppercase;
    font-weight: bold;
    color: #F4F0DE;
}

.btn-house:hover, .btn-house:active, .btn-house:focus {
    background-color: #7E6235;
    border-color: #7E6235;
    box-shadow: 3px 3px 7px #7E6235;
    color: #fff;
    outline: none;
}

/*------------------------------------------ HOUSE PAGES */


/*------------------------------------------ MONTPELIER */
/*------------------------------------------ THREE ROCK */
/*------------------------------------------ LUGMORE */

/*------------------------------------------ SITE */
#site-section .section-hr {
    background-image: linear-gradient(to right, rgba(160, 160, 116, 0), rgba(160, 160, 116, 0.75), rgba(160, 160, 116, 0));
}

.spec-name {
    font-weight: bold;
    text-align: right;
    font-size: 1.1rem;
    text-transform: capitalize;
}

/*------------------------------------------ GALLERY */
#gallery-section .section-hr {
    background-image: linear-gradient(to right, rgba(238, 232, 209, 0), rgba(238, 232, 209, 0.75), rgba(238, 232, 209, 0));
}

#site-gallery .item {
    padding: 0.5rem;
}

#site-gallery .item img {
    padding: .25rem;
    background-color: #EEE8D1;
    border: 1px solid #A0A074;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

#site-gallery .item img:hover {
    background-color: #A0A074;
    border: 1px solid #3C5830;
    cursor: pointer;
}

/* lightGallery */
.lg-backdrop {
    background-color: rgba(0,0,0,0.8);
}

/*------------------------------------------ CONTACT */
.contact-card {
    margin: 0.5rem 0;
    border: 0;
}

#developer-card {
    background-color: #B8873A;
    color: #f5f5f5;
}

#agent-card {
    background-color: #7E6235;
    color: #F4F0DE;
}

#solicitor-card {
    background-color: #3C5830;
    color: #F4F0DE;
}

.contact-card .card-img {
    border-bottom-left-radius: 0;
    border-top-left-radius: calc(.25rem - 1px);
    border-bottom-right-radius: 0;
    border-top-right-radius: calc(.25rem - 1px);
}

.btn-contact {
    background-color: #3C5830;
    border-color: #2a3d21;
    box-shadow: 2px 2px 3px #3C5830;
    text-transform: uppercase;
    font-weight: bold;
    color: #F4F0DE;
}

.btn-contact:hover, .btn-contact:active, .btn-contact:focus {
    background-color: #507c3c;
    border-color: #3C5830;
    box-shadow: 3px 3px 7px #3C5830;
    color: #fff;
    outline: none;
}

/*------------------------------------------ FOOTER */
.footer {
    color: #EEE8D1;
    border-top: 4px solid #B8873A;
}

#social-column {
    text-align: right;
}

#cta-column {
    text-align: center;
}

#copy-column img {
    margin-right: 0.5rem;
    -webkit-filter: drop-shadow(2px 2px 3px #16110a);
    filter:         drop-shadow(2px 2px 3px #16110a); 
}

#copy-column .footer-heading {
    font-size: 1.5rem;
    font-family: 'Merienda', serif;
}

.footer-heading {
    color: #F4F0DE;
    margin-bottom: 1.5rem;
    text-shadow: 2px 2px 3px #16110a;
}

.btn-cta2 {
    background-color: #F4F0DE;
    border-color: #EEE8D1;
    box-shadow: 2px 2px 3px #16110a;    
    text-transform: uppercase;
    font-weight: bold;
    color: #2a3d21;
}

.btn-cta2:hover, .btn-cta2:active, .btn-cta2:focus {
    background-color: #EEE8D1;
    border-color: #F4F0DE;
    box-shadow: 3px 3px 7px #16110a;
    color: #B8873A;
    outline: none;
}

.social-links li a i {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    font-size: 1.5rem;
    padding-top: 0.5rem;
    text-align: center;
    color: #B8873A;
    background-color: #F4F0DE;
    box-shadow: 2px 2px 3px #16110a;
    transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #3C5830;
    color: #F4F0DE;
    box-shadow: 3px 3px 7px #16110a;
}

/*------------------------------------------ MEDIA QUERIES */
@media(max-width:991px) {
    /* --------- FEATURES */
    .features-image {
        width: 225px;
        height: 225px;
        padding: 0.4rem;
        border: 1px dashed #B8873A;
    }
}

@media(max-width:767px) {
    /* --------- FEATURES */
    .features-right .feature-body {
        text-align: left;
    }

    .features-center {
        min-height: 150px;
        margin: 1rem 0 2rem 0;
    }
    
    .features-image {
        margin: 0;
    }

    .features-image {
        width: 150px;
        height: 150px;
        padding: 0.3rem;
        border: 1px dashed #B8873A;
    }

    /* --------- SITE */
    .spec-name {
        text-align: left;
    }

    /* --------- CONTACT */
    .contact-card .card-img {
        border-bottom-left-radius: calc(.25rem - 1px);
        border-top-left-radius: calc(.25rem - 1px);
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    /* --------- FOOTER */
    #copy-column, #social-column {
        text-align: center;
    }

    #copy-column .footer-heading {
        justify-content: center;
    }
}

@media(max-width:576px) {
    /* --------- CALLOUT */
    .cta-heading {
        font-size: 2.2rem;
    }
    .cta-container {
        font-size: 110%;
    }

    /* --------- CONTACT */
    .contact-card .card-body {
        padding: 0.75rem;
    }
}