@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Merienda:wght@400;700&display=swap');

/*------------------------------------------ GENERAL */
body {
    font-family: 'EB Garamond', serif;
    padding-top: 3rem;
}

h1,h2,h3 {
    font-family: 'Merienda', cursive;
}

/*------------------------------------------ COLORS */
.bg-color-navbar {
    background-color: #EEE8D1;
}

.bg-color-footer {
    background-color: #7E6235;
}

.navbar-brand-color {
    color: #B8873A;
}

.navbar-brand-color:focus, .navbar-brand-color:hover {
    color: #7E6235;
}

.nav-link {
    color: #A0A074;
}

.nav-link:hover, .nav-link:active {
    color: #3C5830;
}

/*------------------------------------------ HEADER */
.navbar {
    border-bottom: 4px solid #A0A074;
    box-shadow: 0px 2px 10px #3C5830;
}

.navbar-brand {
    font-family: 'Merienda', cursive;
    padding: 0;
    font-size: 1.7rem;
}

.nav-link {
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.navbar-toggler {
    font-size: 1.9rem;
    color: #3C5830;
    border-color: #A0A074;
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    color: #7E6235;
    border-color: #B8873A;

}

/*------------------------------------------ CALLOUT */
#hero {
    position: relative;
}

.cta {
    height: 75vh;
    position: relative;
    overflow: hidden;
    z-index:-101;
    background-color: #7E6235;
}

.cta-container {
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    max-width: 100%;
    text-align: center;
    color: #EEE8D1;
    font-size: 150%;
    text-shadow: 1px 1px 2px #7E6235;
}

.cta-heading {
    font-size: 3rem;
    color: #EEE8D1;
    text-shadow: 2px 2px 3px #3C5830;
    line-height: 4rem;
}

.cta-container .lead {
    font-size: 150%;
    text-shadow: 2px 2px 3px #7E6235;
}

.cta-container hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(238, 232, 209, 0), rgba(238, 232, 209, 0.75), rgba(238, 232, 209, 0));
    width: 50%;
}

.btn-cta {
    background-color: #B8873A;
    border-color: #7E6235;
    box-shadow: 2px 2px 3px #7E6235;
    text-transform: uppercase;
    font-weight: bold;
    color: #EEE8D1;
}

.btn-cta:hover, .btn-cta:active, .btn-cta:focus {
    background-color: #7E6235;
    border-color: #7E6235;
    box-shadow: 3px 3px 7px #7E6235;
    color: #fff;
    outline: none;
}

.cta-scroll {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    text-align: center;
    color: #EEE8D1;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 1rem;
  }
}

.cta-scroll>i {
    font-size: 2rem;
}

.cta-video { 
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url('../images/hero-img.jpg') no-repeat;
    background-size: cover;
    object-fit: cover;
    transform: translate(-50%, -50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity;
    opacity: 0.4;
}

/*------------------------------------------ FOOTER */
.footer {
    color: #EEE8D1;
    border-top: 4px solid #B8873A;
}

/*------------------------------------------ MEDIA QUERIES */
@media(max-width:576px) {
    .cta-heading {
        font-size: 2.2rem;
    }
    .cta-container {
        font-size: 110%;
    }
}